.main-landing {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 16px;
  min-height: 100vh;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 32px;
  }
}

.landing {

  &-content {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: max-content;
      margin: 0 auto;
      gap: 8px;

    &__title {
      font-weight: var(--fw-medium);
      color: white;
      font-size: var(--fz-large);

      @media screen and (min-width: 1024px) {
        font-size: var(--fz-xlarge);
      }
    }

    &__description {
      font-weight: var(--fw-regular);
      color: white;
      font-size: var(--fz-small);

      @media screen and (min-width: 1024px) {
        font-size: var(--fz-large);
      }
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    background: white;
    margin: 0 auto;
    height: 100%;
    max-height: 325px;
    width: 100%;
    max-width: 500px;
    border-radius: var(--rounded-md);
  }
}