.input-container {

  &__form {
    display: flex;
    gap: 8px;
    border: 1px solid var(--primary-color);
    border-radius: var(--rounded-sm);
    height: 45px;
  }
}

.input-content {
  &__left {
    display: flex;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    width: 96px;
    user-select: none;
    background-color: var(--gray-100);
    border-top-left-radius: var(--rounded-sm);
    border-bottom-left-radius: var(--rounded-sm);
    color: var(--primary-color);
    font-size: var(--fz-small);
    font-weight: var(--fw-regular);
  }

  &__right {
    display: flex;
    flex: 1 1;
    gap: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding-right: 16px;
  }
}

.input {

  &__text {
    color: var(--gray-400);
    user-select: none;
    font-size: var(--fz-small);
    font-weight: var(--fw-regular);
  }
  &__number {
    display: inline-flex;
    font-size: var(--fz-normal);
    width: 100%;
    color: var(--blue-600);
    font-weight: var(--fw-regular);
    border: none;
    text-align: end;

    @media screen and (min-width: 1024px) {
      width: min-content;
    }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

    &:focus {
      outline: none;
    }
  }
}