@use "../theme/colors";
@use "../theme/typografy";

@use "sass:map";
*, *::after, *::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {

	--main-font: #{map.get(typografy.$type-font, main-font )};

  --fz-xlarge: #{map.get(typografy.$general-font-size, xlarge )};
  --fz-large: #{map.get(typografy.$general-font-size, large )};
  --fz-normal: #{map.get(typografy.$general-font-size, normal )};
  --fz-small: #{map.get(typografy.$general-font-size, small )};
  --fz-smaller: #{map.get(typografy.$general-font-size, smaller )};

	--primary-color: #{map.get(colors.$landing-color, primary )};
	--secondary-color: #{map.get(colors.$landing-color, secondary )};
	--secondary-alt-color: #{map.get(colors.$landing-color, secondary-alt )};

	--blue-600: #{map.get(colors.$accent-color, blue-600 )};
	--blue-900: #{map.get(colors.$accent-color, blue-900 )};
	--gray-100: #{map.get(colors.$accent-color, gray-100 )};
	--gray-200: #{map.get(colors.$accent-color, gray-200 )};
	--gray-400: #{map.get(colors.$accent-color, gray-400 )};

  --rounded-sm: 6px;
  --rounded-md: 8px;

  --fw-medium: 500;
  --fw-regular: 400;

}

html {
	font-family: var(--main-font);
}

body {
	font-size: inherit;
	font-family: inherit;
  background: linear-gradient(to bottom, var(--secondary-color), var(--primary-color));
  min-height: 100vh;
}

button {
	border: none;
	font-family: inherit;
	background-color: transparent;
}
