$landing-color: (
  primary: #6E46E6,
  secondary: #4A28AF,
  secondary-alt: #522FBA,
);

$accent-color: (
  blue-600: #3D3D67,
  blue-900: #2F00FF,
  gray-100: #F3F3F6,
  gray-200: #E7E7ED,
  gray-400: #717191,
);
